{{page-title "TestTranspile"}}

{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}

<VerticalCollection @items={{this.items}} as |item|>
  <div>{{item}}</div>
</VerticalCollection>
{{outlet}}